@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@300;400;500;700&family=Mr+Dafoe&display=swap');

$serif: 'Merriweather', serif;
$sansserif: 'Montserrat', sans-serif;
$logofont: 'Mr Dafoe', cursive;
$lightpink:  #fcf3ed;
$mobiledevices: 500px;
$middledevices: 700px;
$tablets:768px;
$middletablet: 888px;
$laptops:1024px;
$desktop: 1200px;

// ========================================================
//MIXINS
// ========================================================

@mixin flexspace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin featuredimage{
    background-position: center;
    background-size: cover;
}

@mixin links{
    a{
        text-decoration: none;
        color: black;
    }
}

@mixin contentbasic{
    h1{
        font-family: $serif;
        margin: 13px 0;
        font-weight: 600;
        font-size: 25px;
        @include links;
    }

    p{
        font-family:$sansserif;
        opacity: 0.8;
        font-size: 11.5px;
        line-height: 1.4;
        letter-spacing: 1.5px;
    }
}

@mixin posts{

    .postcontent{
        @include contentbasic;
    }

}

@mixin submit{
    input[type="submit"]{
        background-color: black;
        border:none;
        font-family: $sansserif;
        padding: 9px 12px;
        font-size: 11px;
        letter-spacing: 1.3px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
    }
}

// ========================================================
//BASIC
// ========================================================


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: $lightpink;
}


// ========================================================
// NAVIGATION 
// ========================================================
nav{
    padding: 0 170px;
    @include flexspace;
    height: 13vh;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: $lightpink;
    z-index: 2;

    @media only screen and (max-width:$middledevices ) {
        height: 18vh;
    }
    @media only screen and (max-width:$laptops) {
        padding: 0 10%;
    }

    #logo{
        flex: 1;
        font-family: $logofont;

        a{
            text-decoration: none;
            font-size: 40px;
            padding-left: 20px;
            color: black;
        }
    }

    #navlinks{
        flex: 3;
        @include flexspace;
        list-style: none;
        li{
            a{
                text-decoration: none;
                font-family: $sansserif;
                font-size: 11.5px;
                font-weight: 500;
                letter-spacing: 1.5px;
                color: black;
            }
            a:hover{
                color:rgb(57, 116, 136);
            }
        }
        @media only screen and (max-width:$middledevices){
                flex-direction: column;
                align-items: initial;
                margin-left: 50%;
        }

        #socials{
            @include flexspace;
            list-style: none;
            a{
                margin-right: 10px;
            }
            @media only screen and (max-width:$middletablet) {
                display: none;
            }
        }
    }
}


// ========================================================
// CONTACT CONTENT
// ========================================================
.contactcontent{
    @include flexspace;
    margin: 90px 160px 50px;
    @media only screen and (max-width:$laptops ) {
        margin:90px 100px 50px;
    }
    @media only screen and (max-width:$tablets ) {
        @include flexColumn;
    }
    @media only screen and (max-width:$mobiledevices ) {
        margin: 80px 30px 50px;
    }

    .formitem{
        display: flex;
        flex-direction: column;
    }
    label{
        color: rgb(65, 65, 65);
        font-size: 15px;
    }
    input[type="text"], textarea{
        background-color: $lightpink;
        outline: none;
        border: 0.5px lightgrey solid;
        padding: 9px;
        margin: 3px 0 20px;
    }

    .contactform{
        align-self: flex-start;
        @include submit;
        margin-top: 50px;
        margin-right: 40px;
        width: 100%;
        h1{
            text-align: center;
            font-size: 1.8em;
            margin-bottom: 20px;
        }

    }
    .sidenav{
        width: 400px;
        @include submit;
        margin-top: 75px;
        input{
            width: 100%;
        }

        .formitem{
            input{
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
            input[type="submit"]{
                width: 100px;
                align-self: center;
                margin-bottom: 20px;
            }
        }

        h1{
            border-top: 1px black solid;
            text-align: center;
            text-transform: uppercase;
            margin-top: 28px;
            span{
                font-family: $sansserif;
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 1.5px;
                position: relative;
                bottom: 25px;
                padding: 0 8px;
                background-color: $lightpink;
            }
        }
        p{
            text-align: center;
            color: rgb(59, 59, 59);
            margin-bottom: 10px;
        }

        select{
            width: 100%;
            padding: 10px;
            background-color: $lightpink;
            border: 0.5px lightgrey solid;
            cursor: pointer;
        }

        .posts{
            .post{
                @include flexColumn;
                .photo{
                    width: 100%;
                    height: 150px;
                    @include featuredimage;
                }
                .photo:nth-child(0){
                    background-image: url('../images/photo9.jpg');
                }
                .photo:nth-child(1){
                    background-image: url('../images/photo12.png');
                }
                .photo:nth-child(2){
                    background-image: url('../images/photo6.jpg');
                }

                h4{
                    background-color: $lightpink;
                    text-align: center;
                    position: relative;
                    bottom: 18px;
                    width: 80%;
                    cursor: pointer;
                }
                h4:hover{
                    opacity: 0.6;
                }
            }
        }

    }
}


footer{
    background-color: black;
    color: white;
    #socials{
        display: none;
        padding: 20px 30%;
        list-style: none;
        a{
            margin-right: 10px;
            color: white;
        }
    }

    .images{
        display: flex;
        align-items: center;
        .image{
            width: 240px;
            height:240px;
            @media only screen and (max-width:$laptops) {
                height: 25vh;
            }
            @media only screen and (max-width:$mobiledevices) {
                height: 100px;
            }
        }
        .image1{
            background-image: url('../images/photo7.png');
            @include featuredimage;
        }
        .image2{
            background-image: url('../images/photo8.png');
            @include featuredimage;
        }
        .image3{
            background-image: url('../images/photo9.png');
            @include featuredimage;
        }
        .image4{
            background-image: url('../images/photo10.png');
            @include featuredimage;
        }
        .image5{
            background-image: url('../images/photo11.png');
            @include featuredimage;
        }
        .image6{
            background-image: url('../images/photo12.png');
            @include featuredimage;
        }
    }

    .disclaimers{
        @include flexspace;
        padding: 25px 150px;
        font-family: $sansserif;
        text-transform: uppercase;
        font-size: 10px;
    }
}

@media only screen and (max-width:$tablets) {
    footer{
        #socials{
            @include flexspace;
        }
    }
}


@media only screen and (max-width:$mobiledevices) {
    footer{
        .disclaimers{
            padding:25px 10%;
        }
    }
}