@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@300;400;500;700&family=Mr+Dafoe&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fcf3ed;
}

nav {
  padding: 0 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13vh;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  background-color: #fcf3ed;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  nav {
    height: 18vh;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 0 10%;
  }
}

nav #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Mr Dafoe", cursive;
}

nav #logo a {
  text-decoration: none;
  font-size: 40px;
  padding-left: 20px;
  color: black;
}

nav #navlinks {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav #navlinks li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: black;
}

nav #navlinks li a:hover {
  color: #397488;
}

@media only screen and (max-width: 700px) {
  nav #navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin-left: 50%;
  }
}

nav #navlinks #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav #navlinks #socials a {
  margin-right: 10px;
}

@media only screen and (max-width: 888px) {
  nav #navlinks #socials {
    display: none;
  }
}

.gallerysection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
  margin: 150px 170px;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

@media only screen and (max-width: 1200px) {
  .gallerysection {
    margin: 150px 100px;
  }
}

@media only screen and (max-width: 700px) {
  .gallerysection {
    margin: 150px 50px;
  }
}

.gallerysection .gallerycolumn {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.gallerysection .gallerycolumn img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .gallerysection .gallerycolumn {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallerysection .gallerycolumn {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

footer {
  background-color: black;
  color: white;
}

footer .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .images .image {
  width: 240px;
  height: 240px;
}

footer .images .image1 {
  background-image: url("../images/photo7.png");
  background-position: center;
  background-size: cover;
}

footer .images .image2 {
  background-image: url("../images/photo8.png");
  background-position: center;
  background-size: cover;
}

footer .images .image3 {
  background-image: url("../images/photo9.png");
  background-position: center;
  background-size: cover;
}

footer .images .image4 {
  background-image: url("../images/photo10.png");
  background-position: center;
  background-size: cover;
}

footer .images .image5 {
  background-image: url("../images/photo11.png");
  background-position: center;
  background-size: cover;
}

footer .images .image6 {
  background-image: url("../images/photo12.png");
  background-position: center;
  background-size: cover;
}

footer .disclaimers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 150px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}

@media only screen and (max-width: 768px) {
  footer #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  footer .disclaimers {
    padding: 25px 10%;
  }
}
/*# sourceMappingURL=gallery.css.map */