@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@300;400;500;700&family=Mr+Dafoe&display=swap');

$serif: 'Merriweather', serif;
$sansserif: 'Montserrat', sans-serif;
$logofont: 'Mr Dafoe', cursive;
$lightpink:  #fcf3ed;
$mobiledevices: 500px;
$middledevices: 700px;
$tablets:768px;
$middletablet: 888px;
$laptops:1024px;
$desktop: 1200px;

// ========================================================
//MIXINS
// ========================================================

@mixin flexspace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin featuredimage{
    background-position: center;
    background-size: cover;
}

@mixin links{
    a{
        text-decoration: none;
        color: black;
    }
}

@mixin contentbasic{
    h1{
        font-family: $serif;
        margin: 13px 0;
        font-weight: 600;
        font-size: 25px;
        @include links;
    }

    p{
        font-family:$sansserif;
        opacity: 0.8;
        font-size: 11.5px;
        line-height: 1.4;
        letter-spacing: 1.5px;
    }
}

@mixin posts{

    .postcontent{
        @include contentbasic;
    }

}

// ========================================================
//BASIC
// ========================================================


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: $lightpink;
}


// ========================================================
// NAVIGATION 
// ========================================================
nav{
    padding: 0 170px;
    @include flexspace;
    height: 13vh;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: $lightpink;
    z-index: 2;

    @media only screen and (max-width:$middledevices ) {
        height: 18vh;
    }
    @media only screen and (max-width:$laptops) {
        padding: 0 10%;
    }

    #logo{
        flex: 1;
        font-family: $logofont;

        a{
            text-decoration: none;
            font-size: 40px;
            padding-left: 20px;
            color: black;
        }
    }

    #navlinks{
        flex: 3;
        @include flexspace;
        list-style: none;
        li{
            a{
                text-decoration: none;
                font-family: $sansserif;
                font-size: 11.5px;
                font-weight: 500;
                letter-spacing: 1.5px;
                color: black;
            }
            a:hover{
                color:rgb(57, 116, 136);
            }
        }
        @media only screen and (max-width:$middledevices){
                flex-direction: column;
                align-items: initial;
                margin-left: 50%;
        }

        #socials{
            @include flexspace;
            list-style: none;
            a{
                margin-right: 10px;
            }
            @media only screen and (max-width:$middletablet) {
                display: none;
            }
        }
    }
}



// ========================================================
// POSTS
// ========================================================

.posts{
    margin: 150px 170px 70px;
    @include flexspace;

    .one{
        @include posts;
        @include flexColumn;
        .firstimage{
            background-image: url('../images/photo2.jpg');
            @include featuredimage;
            width:350px;
            height:475px;
        }
        .postcontent{
            @include flexColumn;
        }
    }
    .two{
        @include posts;
        @include flexColumn;
        .firstimage{
            background-image: url('../images/photo3.jpg');
            @include featuredimage;
            width:350px;
            height:475px;
        }
        .postcontent{
            @include flexColumn;
        }
    } 
    .three{
        @include posts;
        @include flexColumn;
        .firstimage{
            background-image: url('../images/photo4.jpg');
            @include featuredimage;
            width:350px;
            height:475px;
        }
        .postcontent{
            @include flexColumn;
        }
    } 
}

footer{
    background-color: black;
    color: white;

    .images{
        display: flex;
        align-items: center;
        .image{
            width: 240px;
            height:240px;
        }
        .image1{
            background-image: url('../images/photo7.png');
            @include featuredimage;
        }
        .image2{
            background-image: url('../images/photo8.png');
            @include featuredimage;
        }
        .image3{
            background-image: url('../images/photo9.png');
            @include featuredimage;
        }
        .image4{
            background-image: url('../images/photo10.png');
            @include featuredimage;
        }
        .image5{
            background-image: url('../images/photo11.png');
            @include featuredimage;
        }
        .image6{
            background-image: url('../images/photo12.png');
            @include featuredimage;
        }
    }

    .disclaimers{
        @include flexspace;
        padding: 25px 150px;
        font-family: $sansserif;
        text-transform: uppercase;
        font-size: 10px;
    }
}

@media only screen and (max-width:$tablets) {
    footer{
        #socials{
            @include flexspace;
        }
    }
}


@media only screen and (max-width:$mobiledevices) {
    footer{
        .disclaimers{
            padding:25px 10%;
        }
    }
}