@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@300;400;500;700&family=Mr+Dafoe&display=swap');

$serif: 'Merriweather', serif;
$sansserif: 'Montserrat', sans-serif;
$logofont: 'Mr Dafoe', cursive;
$lightpink:  #fcf3ed;

// ========================================================
//MIXINS
// ========================================================

@mixin flexspace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin featuredimage{
    background-position: center;
    background-size: cover;
}
@mixin posts{
    h1{
        font-family: $serif;
        margin-bottom: 6px;
        font-size: 27px;
        a{
            text-decoration: none;
        }
    }
    .category{
        font-family:$sansserif;
        font-size: 13px;
        margin-bottom: 8px;
        letter-spacing: 1.5px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    p{
        opacity: 0.8;
        font-size: 15px;
        line-height: 1.4;
    }
    .readmore{
        background-color: black;
        color: white;
        font-family: $sansserif;
        padding: 8px 10px;
        font-size: 12px;
        letter-spacing: 1.3px;
    }

}

// ========================================================
//BASIC
// ========================================================


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: $lightpink;
}


// ========================================================
// NAVIGATION 
// ========================================================
nav{
    padding: 0 140px;
    @include flexspace;
    height: 15vh;

    #logo{
        flex: 1;
        font-family: $logofont;

        a{
            text-decoration: none;
            font-size: 50px;
            color: black;
        }
    }

    #navlinks{
        flex: 3;
        @include flexspace;
        list-style: none;
        li{


            a{
                text-decoration: none;
                font-family: $sansserif;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1.5px;
                color: black;
            }
        }

        #socials{
            @include flexspace;
            list-style: none;
            a{
                margin-right: 10px;
            }
        }
    }
}

// ========================================================
//  HOMEPAGE HEADER
// ========================================================
#slider{
    margin: 0 140px;
    .sliderimage{
        @include featuredimage;
        background-image: url('../images/photo1.jpg');
        height: 83vh;
        width: 70%;
    }
    .slidercontent{
        background-color: $lightpink;
        width: 32%;
        position: absolute;
        left: 58%;
        top: 45%;
        padding: 25px;
        @include posts;
    }
    .readmore{
        position: absolute;
        top: 105%;
        right:0;
    }

    #whiteslider{
        width: 100%;
        height: 70vh;
        background-color: white;
        position: absolute;
        z-index: -1;
        top:22%;
        left:0;
    }
    
}

// ========================================================
// POSTS
// ========================================================

.posts{
    .postcontent{
        @include posts;
    }
}